<p id="no-items" class="hide">There are no items defined for this navigation... <a id="add-first-item" href="#">add first item</a></p>
<ul class="nav nav-list nav-stacked" id="navigation-items-container">
</ul>