<a href="#" onclick="return false;">
    <form style="margin: 0">
        <input id="item-icon" name="icon" type="text" class="input-short input-mini" placeholder="no icon" value="<%=Icon%>" data-val="false">
        <input id="item-text" name="text" type="text" class="input-short input-small" placeholder="no text set" value="<%=Text%>" data-val="true" data-val-required="icon missing">
        <input id="item-url" name="url" type="text" class="input-short input-medium" placeholder="no url set" value="<%=Url%>">
        <i id="cancel" class="icon-ban-circle pull-right"></i>
        <i id="save" class="icon-ok-sign pull-right"></i>
    </form>
</a>