<a href="#">
    <input id="item-icon" type="text" class="input-short input-mini" placeholder="no icon set" value="<%=Icon%>">
    <input id="item-text" type="text" class="input-short input-small" placeholder="no text set" value="<%=Text%>">
    <input id="item-url" type="text" class="input-short input-medium" placeholder="no url set" value="<%=Url%>">
    <i id="save" class="icon-ok-sign pull-right"></i>
    <i id="cancel" class="icon-ban-circle pull-right"></i>
</a>