<a href="#"><i class="<%= Icon %>"></i><%= Text %> 
    <i id="delete" class="icon-minus-sign pull-right"></i>
    <i id="edit" class="icon-edit pull-right"></i>
    <i class="icon-arrow-down pull-right"></i>
    <i class="icon-arrow-up pull-right"></i>
    <% if(ParentID==null) { %> <i id="add-nav-child" class="icon-plus-sign pull-right"></i> <% } %>
</a>