@using MVCFramework.Web.Models
<div class="span3">
    @{
        var defaultNavigationModel = NavigationModelFactory.GetDefaultNavigationModel();
        var navigationModel = defaultNavigationModel;
        @Navigation.RenderNavigation(navigationModel)
    }
</div>
