@using MVCFramework.Web.Helpers
<div class="span3">
    @{
        var defaultNavigationModel = NavigationModelHelper.GetDefaultNavigationModel();
        if (Request.IsAuthenticated)
        {
            var userRolesNavigations = NavigationModelHelper.GetUserNavigationModels(HttpContext.Current.User.Identity.Name);
            foreach (var userNavigationModel in userRolesNavigations)
            {
                NavigationModelHelper.MergeNavigationModels(userNavigationModel, defaultNavigationModel);
            }

        }
      
        @Navigation.RenderNavigation(defaultNavigationModel, Url)
    }
</div>