@using MVCFramework.Web.Models
<div class="span3">
    @{
        var defaultNavigationModel = NavigationModelFactory.GetDefaultNavigationModel();
        if (Request.IsAuthenticated)
        {
            var userRolesNavigations = NavigationModelFactory.GetNavigationModel(HttpContext.Current.User.Identity.Name);
            foreach (var userNavigationModel in userRolesNavigations)
            {
                NavigationModelFactory.MergeNavigationModels(userNavigationModel, defaultNavigationModel);
            }

        }
      
        @Navigation.RenderNavigation(defaultNavigationModel, Url)
    }
</div>
