@{
    ViewBag.Title = "MVC Framework";
    Layout = "~/Views/Shared/Layouts/Master.cshtml";
}
@section subheader{
    <div class="well">
        <i class="icon-bookmark"></i>
        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.</p>
    </div>
}

<div class="container-fluid span9">
    <div class="row-fluid">
        <div class="span4">
            <h2>Slick design</h2>
            <p>Clean html and css using Bootstrap, KendoUI and Razor views.</p>
            <p>Single page applications using Backbone.js library.</p>
        </div>


        <div class="span4">
            <h2>Membership</h2>
            <p>The membership system is built on top of asp.net membership provider allowing you to create and manage users, roles and profiles. </p>
            <p>Very easy to use and extend.</p>
        </div>

        <div class="span4">
            <h2>Custom navigation</h2>
            <p>Two levels navigation fully customizable by the administrator role.</p>
            <p>Define custom navigation per role that is applied to the base navigation for anonymous users.</p>
        </div>
    </div>
    <div class="row-fluid">
        <div class="span4">
            <h2>Multi tenancy</h2>
            <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.</p>
        </div>


        <div class="span4">
            <h2>Logging</h2>
            <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.</p>
        </div>

        <div class="span4">
            <h2>Configuration</h2>
            <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.</p>
        </div>
    </div>
</div>
