<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="cache-providers" type="MVCFramework.Business.Providers.ProviderConfiguration, MVCFramework.Business" />
    <section name="navigation-providers" type="MVCFramework.Business.Providers.ProviderConfiguration, MVCFramework.Business" />
  </configSections>
  <connectionStrings>
    <add name="MVCFrameworkDB" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=mvcframework; Integrated Security = SSPI;"  />
  </connectionStrings>
  <cache-providers default="WebCacheProvider">
    <providers>
      <add name="WebCacheProvider" type="MVCFramework.Business.Providers.Caching.WebCacheProvider, MVCFramework.Business" />
    </providers>
  </cache-providers>
  <navigation-providers default="DefaultNavigationProvider">
    <providers>
      <add name="DefaultNavigationProvider" type="MVCFramework.Business.Providers.Navigation.DatabaseNavigationProvider, MVCFramework.Business" applicationName="/" />
    </providers>
  </navigation-providers>
  <system.web>
    <machineKey validationKey="2743FE694EEC8AB57BB96D7C19CB1B5DB58F7100B6F2130C826DD8BA96AD4236DE7691D83151E96956383DBB42AE654F37ECB89AB429F05CFACEC1F7F84FF188" decryptionKey="E12A008C36E24532CA0C05790FFC5A42333B062FD4587E830128534EA5930000" validation="SHA1" decryption="AES"></machineKey>
    <authentication mode="Forms">
      <forms loginUrl="~" timeout="2880" />
    </authentication>
    <membership defaultProvider="MultiTenantMembershipProvider">
      <providers>
        <clear />
        <add name="MultiTenantMembershipProvider" type="MVCFramework.Business.Providers.Membership.MultiTenantMembershipProvider, MVCFramework.Business" connectionStringName="MVCFrameworkDB" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="true" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/" />
      </providers>
    </membership>
    <roleManager defaultProvider="MultiTenantRoleProvider" enabled="true">
      <providers>
        <add name="MultiTenantRoleProvider" type="MVCFramework.Business.Providers.Membership.MultiTenantRoleProvider, MVCFramework.Business" connectionStringName="MVCFrameworkDB" applicationName="/" />
      </providers>
    </roleManager>
  </system.web>
</configuration>